@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


strong {
    font-weight: bold;
    font-family: PT Serif,serif;
    font-size: 16px;
    color: #000000;
}


body {
    padding: 0;
    margin: 0;
    font-family: PT Serif,serif;
    font-size: 16px;
    line-height: 1.8;
    color: #000000;
}

strong {
    font-size: 16.5px;
}


.navbar {
    background-image: linear-gradient(100deg, #d8db71, #cdac5f, #e3a76f, #64d4d2);
    background-color: #000000;
    font-size: large;
    font-weight: bold;
    padding: 11px 15px; /* 新增内边距 */
}

.footer {
    background-image: linear-gradient(100deg, #d8db71, #cdac5f, #e3a76f, #64d4d2);
    background-color: #000000;
    font-size: medium;
    padding: 11px 15px; /* 新增内边距 */
}

.navbar .nav>li>a:hover,
.navbar .nav>li>a:focus {
    color: #000000; /* 鼠标悬停时的颜色改变 */
    font-weight: bold;
    text-decoration: none; /* 移除下划线 */
}

/* 调整导航文字样式 */
.navbar-text {
    font-family: 'Audiowide', sans-serif;
    font-size: 22pt;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.805);
}

/* 响应式调整 - 小屏幕时的样式 */
@media (max-width: 768px) {
    .navbar, .footer {
        font-size: medium; /* 调整字体大小 */
    }

    .navbar .nav>li>a {
        font-size: medium; /* 调整链接字体大小 */
    }
}


.footer {
    margin-top: 5px;
    padding: 5px 300px;
}

.gray-container {
    background-image: linear-gradient(100deg, #d8db71, #cdac5f, #e3a76f, #64d4d2);
    border-bottom: solid 3px rgb(200, 144, 144);
    margin-top: 100px;
}

#about {
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

@keyframes me-img-hover {
    0% {
        transform: rotate(-15deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

#me-img {
    width: 70%;
    /*border: 10px solid #FFFFCC;*/
    border: 8px solid #FFFFCC;
    /*transform: rotate(-10deg);*/
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

#me-img:hover {
    animation: me-img-hover 2000ms linear 100ms infinite forwards;
}

.work-img {
    width: 180px;
    height: auto !important;
    border: 1px solid lightgray;
    border-radius: 10px;
    /*height: 161px;*/
}

.detail {
    font-size: 13px;
    border: 1px solid #FFFFAA;
    background-color: #FFFFEE;
}

.prize {
    color: #B02020;
    font-weight: bold;
}

.work-block {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_title {
    /*color: #159957;*/
    color: black;
    /*font-family: "Tisa", Times, serif;*/
    /*font-family: "Verdana", Geneva, sans-serif;*/
    font-family: PT Serif,serif;
    font-size: 25px;
    font-weight: 50;
}

.subsection_title {
    /*color: #159957;*/
    color: black;
    /*font-family: "Tisa", Times, serif;*/
    /*font-family: "Verdana", Geneva, sans-serif;*/
    font-family: PT Serif,serif;
    font-size: 18px;
    font-weight: 50;
}

#news{
    font-weight: bold;
    color: black;
}

#award{
    font-weight: bold;
    color: #FC0071;
}


#li-important{
    font-weight: bold;
    color: red;
}
