<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us</title>
<link rel="stylesheet" href="css/about.css">
</head>
<body>

<h2>About Us</h2>
<p class="description">
    We are currently a student-driven organization leading the way in developing cutting-edge world models and swarm intelligence. Guided by the visionary leadership of Prof. Juergen Schmidhuber, we aim to push the boundaries of AI innovation and beyond.
</p>

<!-- Memberships Section -->
<div class="section">
    <h3>Memberships</h3>
    <div class="card-container">
        <div class="card">
            <img src="images/mingchen.jpeg" alt="Member 1">
            <h4>Mingchen Zhuge</h4>
            <p class="identity">Student Founder</p>
            <p class="skills">Skills: Multimodal, Agents</p>
            <a href="mingchen.html" target="_blank">View Profile</a>
        </div>
        <div class="card">
            <img src="images/121A6914.JPG" alt="Member 2">
            <h4>Haozhe Liu</h4>
            <p class="identity">Student Founder</p>
            <p class="skills">Skills: VideoGen</p>
            <a href="https://haozheliu-st.github.io/" target="_blank">View Profile</a>
        </div>
        <div class="card">
            <img src="images/jinjie.webp" alt="Member 3">
            <h4>Jinjie Mai</h4>
            <p class="identity">Student Founder</p>
            <p class="skills">Skills: 3D/4D</p>
            <a href="https://cemse.kaust.edu.sa/profiles/jinjie-mai" target="_blank">View Profile</a>
        </div>
    </div>
</div>

<!-- Advisors Section -->
<div class="section">
    <h3>Advisors</h3>
    <div class="card-container" style="max-width:200px; margin:0 auto;">
        <div class="card">
            <img src="images/JuergenSchmidhuber.jpg" alt="Advisor 1">
            <h4>Prof. Jürgen Schmidhuber</h4>
            <p class="identity">Chief Advisor</p>
            <a href="https://people.idsia.ch/~juergen/" target="_blank">View Profile</a>
        </div>
    </div>
</div>

<!-- Industry Collaboration Section -->
<div class="industry-section">
    <h3>Industry Collaboration</h3>
    <div class="industry-logos">
        <img src="images/Meta-Logo.png" alt="Meta Logo">
        <img src="images/neuclusai.png" alt="Google Logo">
    </div>
</div>



</body>
</html>
